.App {
  text-align: left;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #9B3052;
}

.titleDiv {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #FB9AC3;
}

.flex-container {
  display: flex;
}

.App-header {
  min-height: 100vh;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mockSquare {
  background-color: white;
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
  margin-left:10%;
  background-image: url('../media/background.png');
}