.App {
  text-align: left;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #282c34;
}

.titleDiv {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mockSquare {
  background-color: red;
  min-height: 100vh;
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}